In [1]:
import pandas as pd
import os

In [2]:
folder = "to-merge"
print(os.listdir(folder))

['expected_result.csv', 'A2.csv', 'A3.csv', 'A1.csv', 'A4.csv', 'A5.csv']

In [3]:
files_to_merge = [i for i in os.listdir(folder) if 'A' in i]

In [4]:
files_to_merge

['A2.csv', 'A3.csv', 'A1.csv', 'A4.csv', 'A5.csv']

In [6]:
df_sample = pd.read_csv(os.path.join(folder, files_to_merge[0]))
df_sample

    ID  A2         Notes Dataset
0    1   1    looks good       A
1   11   2  double check       A
2   16   2    looks good       A
3   18   2    looks good       B
4    2   3      not sure       A
5    6   3    looks good       A
6   15   3    looks good       B
7   17   3    looks good       A
8   22   4      not sure       A
9    5   5    looks good       A
10  20   5      not sure       A
11   3   7  double check       B
12  10   7    looks good       B
13  21   8      not sure       A
14   8   9    looks good       A
15   7  10    looks good       A
16   9  10    looks good       A
17  19  10    looks good       A

In [8]:
df_original = pd.read_csv(os.path.join(folder, files_to_merge[0]))
for i in range(len(files_to_merge[1:])):
    df = pd.read_csv(os.path.join(folder, files_to_merge[i+1]))
    df_original  = pd.merge(df_original, df, on='ID', how = 'outer')
    print(df.shape)

(18, 4)
(17, 4)

MergeError: Passing 'suffixes' which cause duplicate columns {'Notes_x', 'Dataset_x'} is not allowed.

In [11]:
df_original

,ID,A2,Notes_x,Dataset_x,A3,Notes_y,Dataset_y,A1,Notes,Dataset
0,1,1.0,looks good,A,8.0,looks good,A,3.0,looks good,A
1,11,2.0,double check,A,4.0,double check,A,7.0,double check,A
2,16,2.0,looks good,A,6.0,looks good,A,8.0,looks good,A
3,18,2.0,looks good,B,NaN,NaN,NaN,5.0,looks good,B
4,2,3.0,not sure,A,7.0,not sure,A,7.0,not sure,A
5,6,3.0,looks good,A,10.0,looks good,B,2.0,looks good,A
6,15,3.0,looks good,B,5.0,looks good,B,10.0,looks good,B
7,17,3.0,looks good,A,NaN,NaN,NaN,5.0,looks good,A
8,22,4.0,not sure,A,6.0,not sure,B,NaN,NaN,NaN
9,5,5.0,looks good,A,10.0,looks good,B,2.0,looks good,A
10,20,5.0,not sure,A,8.0,not sure,B,1.0,not sure,A
11,3,7.0,double check,B,8.0,double check,B,7.0,double check,B
12,10,7.0,looks good,B,NaN,NaN,NaN,6.0,looks good,B
13,21,8.0,not sure,A,NaN,NaN,NaN,3.0,not sure,A
14,8,9.0,looks good,A,3.0,looks good,A,6.0,looks good,A
15,7,10.0,looks good,A,6.0,looks good,B,10.0,looks good,A
16,9,10.0,looks good,A,1.0,looks good,A,6.0,looks good,A
17,19,10.0,looks good,A,2.0,looks good,B,2.0,looks good,A
18,13,NaN,NaN,NaN,1.0,double check,B,NaN,NaN,NaN
19,14,NaN,NaN,NaN,1.0,looks good,B,NaN,NaN,NaN
20,12,NaN,NaN,NaN,6.0,double check,A,NaN,NaN,NaN
21,4,NaN,NaN,NaN,8.0,looks good,B,NaN,NaN,NaN

In [12]:
notes_cols = [j for j in df_original.columns if 'Notes' in j]
dataset_cols = [j for j in df_original.columns if 'Dataset' in j]
print(notes_cols, dataset_cols)

['Notes_x', 'Notes_y', 'Notes'] ['Dataset_x', 'Dataset_y', 'Dataset']

In [13]:
df_original['Notes'] = df_original[notes_cols].apply(
    lambda x: ', '.join(x.dropna().astype(str)),
    axis=1
)

df_original['Dataset'] = df_original[dataset_cols].apply(
    lambda x: ', '.join(x.dropna().astype(str)),
    axis=1
)

In [14]:
df_original['Notes']

0           looks good, looks good, looks good
1     double check, double check, double check
2           looks good, looks good, looks good
3                       looks good, looks good
4                 not sure, not sure, not sure
5           looks good, looks good, looks good
6           looks good, looks good, looks good
7                       looks good, looks good
8                           not sure, not sure
9           looks good, looks good, looks good
10                not sure, not sure, not sure
11    double check, double check, double check
12                      looks good, looks good
13                          not sure, not sure
14          looks good, looks good, looks good
15          looks good, looks good, looks good
16          looks good, looks good, looks good
17          looks good, looks good, looks good
18                                double check
19                                  looks good
20                                double check
21                                  looks good
Name: Notes, dtype: object

In [15]:
df_original['Dataset']

0     A, A, A
1     A, A, A
2     A, A, A
3        B, B
4     A, A, A
5     A, B, A
6     B, B, B
7        A, A
8        A, B
9     A, B, A
10    A, B, A
11    B, B, B
12       B, B
13       A, A
14    A, A, A
15    A, B, A
16    A, A, A
17    A, B, A
18          B
19          B
20          A
21          B
Name: Dataset, dtype: object

In [17]:
def remove_duplicate_strings(sample):
    list_strings = sample.split(', ')
    unique_strings = list(set(list_strings))
    unique_strings.sort()
    return ', '.join(unique_strings)

In [18]:
remove_duplicate_strings('A, B, A, B, A, B, A, B, B')

'A, B'

In [19]:
cols_to_address = ['Notes', 'Dataset']
for i in cols_to_address:
    df_original[i] = df_original[i].apply(remove_duplicate_strings)

In [20]:
df_original['Notes']

0       looks good
1     double check
2       looks good
3       looks good
4         not sure
5       looks good
6       looks good
7       looks good
8         not sure
9       looks good
10        not sure
11    double check
12      looks good
13        not sure
14      looks good
15      looks good
16      looks good
17      looks good
18    double check
19      looks good
20    double check
21      looks good
Name: Notes, dtype: object

In [21]:
df_original['Dataset']

0        A
1        A
2        A
3        B
4        A
5     A, B
6        B
7        A
8     A, B
9     A, B
10    A, B
11       B
12       B
13       A
14       A
15    A, B
16       A
17    A, B
18       B
19       B
20       A
21       B
Name: Dataset, dtype: object

In [22]:
cols_to_drop = [i for i in notes_cols + dataset_cols if '_' in i]
cols_to_drop

['Notes_x', 'Notes_y', 'Dataset_x', 'Dataset_y']

In [23]:
df_original = df_original.drop(columns=cols_to_drop)

In [24]:
df_original

    ID    A2    A3    A1         Notes Dataset
0    1   1.0   8.0   3.0    looks good       A
1   11   2.0   4.0   7.0  double check       A
2   16   2.0   6.0   8.0    looks good       A
3   18   2.0   NaN   5.0    looks good       B
4    2   3.0   7.0   7.0      not sure       A
5    6   3.0  10.0   2.0    looks good    A, B
6   15   3.0   5.0  10.0    looks good       B
7   17   3.0   NaN   5.0    looks good       A
8   22   4.0   6.0   NaN      not sure    A, B
9    5   5.0  10.0   2.0    looks good    A, B
10  20   5.0   8.0   1.0      not sure    A, B
11   3   7.0   8.0   7.0  double check       B
12  10   7.0   NaN   6.0    looks good       B
13  21   8.0   NaN   3.0      not sure       A
14   8   9.0   3.0   6.0    looks good       A
15   7  10.0   6.0  10.0    looks good    A, B
16   9  10.0   1.0   6.0    looks good       A
17  19  10.0   2.0   2.0    looks good    A, B
18  13   NaN   1.0   NaN  double check       B
19  14   NaN   1.0   NaN    looks good       B
20  12   NaN   6.0   NaN  double check       A
21   4   NaN   8.0   NaN    looks good       B

In [25]:
df_original.fillna('', inplace=True)

/var/folders/yt/1q2t_msx3rv258nxy615w87m0000gn/T/ipykernel_99735/3515233495.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_original.fillna('', inplace=True)

In [26]:
df_original

    ID    A2    A3    A1         Notes Dataset
0    1   1.0   8.0   3.0    looks good       A
1   11   2.0   4.0   7.0  double check       A
2   16   2.0   6.0   8.0    looks good       A
3   18   2.0         5.0    looks good       B
4    2   3.0   7.0   7.0      not sure       A
5    6   3.0  10.0   2.0    looks good    A, B
6   15   3.0   5.0  10.0    looks good       B
7   17   3.0         5.0    looks good       A
8   22   4.0   6.0            not sure    A, B
9    5   5.0  10.0   2.0    looks good    A, B
10  20   5.0   8.0   1.0      not sure    A, B
11   3   7.0   8.0   7.0  double check       B
12  10   7.0         6.0    looks good       B
13  21   8.0         3.0      not sure       A
14   8   9.0   3.0   6.0    looks good       A
15   7  10.0   6.0  10.0    looks good    A, B
16   9  10.0   1.0   6.0    looks good       A
17  19  10.0   2.0   2.0    looks good    A, B
18  13         1.0        double check       B
19  14         1.0          looks good       B
20  12         6.0        double check       A
21   4         8.0          looks good       B

In [27]:
df_original = df_original.sort_values(by='ID', ascending=True)

In [28]:
df_original

    ID    A2    A3    A1         Notes Dataset
0    1   1.0   8.0   3.0    looks good       A
4    2   3.0   7.0   7.0      not sure       A
11   3   7.0   8.0   7.0  double check       B
21   4         8.0          looks good       B
9    5   5.0  10.0   2.0    looks good    A, B
5    6   3.0  10.0   2.0    looks good    A, B
15   7  10.0   6.0  10.0    looks good    A, B
14   8   9.0   3.0   6.0    looks good       A
16   9  10.0   1.0   6.0    looks good       A
12  10   7.0         6.0    looks good       B
1   11   2.0   4.0   7.0  double check       A
20  12         6.0        double check       A
18  13         1.0        double check       B
19  14         1.0          looks good       B
6   15   3.0   5.0  10.0    looks good       B
2   16   2.0   6.0   8.0    looks good       A
7   17   3.0         5.0    looks good       A
3   18   2.0         5.0    looks good       B
17  19  10.0   2.0   2.0    looks good    A, B
10  20   5.0   8.0   1.0      not sure    A, B
13  21   8.0         3.0      not sure       A
8   22   4.0   6.0            not sure    A, B

In [29]:
df_original.reset_index(drop=True, inplace=True)
df_original

    ID    A2    A3    A1         Notes Dataset
0    1   1.0   8.0   3.0    looks good       A
1    2   3.0   7.0   7.0      not sure       A
2    3   7.0   8.0   7.0  double check       B
3    4         8.0          looks good       B
4    5   5.0  10.0   2.0    looks good    A, B
5    6   3.0  10.0   2.0    looks good    A, B
6    7  10.0   6.0  10.0    looks good    A, B
7    8   9.0   3.0   6.0    looks good       A
8    9  10.0   1.0   6.0    looks good       A
9   10   7.0         6.0    looks good       B
10  11   2.0   4.0   7.0  double check       A
11  12         6.0        double check       A
12  13         1.0        double check       B
13  14         1.0          looks good       B
14  15   3.0   5.0  10.0    looks good       B
15  16   2.0   6.0   8.0    looks good       A
16  17   3.0         5.0    looks good       A
17  18   2.0         5.0    looks good       B
18  19  10.0   2.0   2.0    looks good    A, B
19  20   5.0   8.0   1.0      not sure    A, B
20  21   8.0         3.0      not sure       A
21  22   4.0   6.0            not sure    A, B

In [30]:
df_expected = pd.read_csv(os.path.join(folder, 'expected_result.csv'))
df_expected.fillna('', inplace=True)
df_expected.sort_values(by='ID', ascending=True, inplace=True)
df_expected

/var/folders/yt/1q2t_msx3rv258nxy615w87m0000gn/T/ipykernel_99735/3551030331.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_expected.fillna('', inplace=True)

    ID    A1    A2    A3    A4    A5         Notes Dataset
0    1   3.0   1.0   8.0   5.0  10.0    looks good       A
1    2   7.0   3.0   7.0   3.0   3.0      not sure       A
2    3   7.0   7.0   8.0   9.0   3.0  double check       B
3    4               8.0                looks good       B
4    5   2.0   5.0  10.0                looks good    A, B
5    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
6    7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
7    8   6.0   9.0   3.0  10.0  10.0    looks good       A
8    9   6.0  10.0   1.0   6.0          looks good       A
9   10   6.0   7.0                      looks good       B
10  11   7.0   2.0   4.0   8.0        double check       A
11  12               6.0   9.0   6.0  double check       A
12  13               1.0   5.0   1.0  double check       B
13  14               1.0   2.0   3.0    looks good       B
14  15  10.0   3.0   5.0  10.0   3.0    looks good       B
15  16   8.0   2.0   6.0   8.0   4.0    looks good       A
16  17   5.0   3.0               5.0    looks good       A
17  18   5.0   2.0               3.0    looks good       B
18  19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
19  20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
20  21   3.0   8.0               9.0      not sure    A, B
21  22         4.0   6.0   3.0   5.0      not sure    A, B

In [31]:
df_original.equals(df_expected)

False

In [32]:
df_original.to_csv('resulting_merged_data.csv', index=False)