In [1]:
import pandas as pd
import os

In [2]:
folder = "to-merge"
print(os.listdir(folder))

['A1.csv', 'A2.csv', 'A3.csv', 'A4.csv', 'A5.csv', 'expected_result.csv']

In [3]:
files_to_merge = [i for i in os.listdir(folder) if 'A' in i]

In [4]:
df_sample = pd.read_csv(os.path.join(folder, files_to_merge[0]))
df_sample

    ID  A1         Notes Dataset
0   20   1      not sure       A
1    5   2    looks good       A
2    6   2    looks good       A
3   19   2    looks good       A
4    1   3    looks good       A
5   21   3      not sure       A
6   17   5    looks good       A
7   18   5    looks good       B
8    8   6    looks good       A
9    9   6    looks good       A
10  10   6    looks good       B
11   2   7      not sure       A
12   3   7  double check       B
13  11   7  double check       A
14  16   8    looks good       A
15   7  10    looks good       A
16  15  10    looks good       B

In [5]:
df_original = pd.read_csv(os.path.join(folder, files_to_merge[0]))
for i in range(len(files_to_merge[1:])):
    df = pd.read_csv(os.path.join(folder, files_to_merge[i+1]))
    df_original  = pd.merge(df_original, df, on='ID', how = 'outer')
    print(df.shape)

(18, 4)
(18, 4)
(16, 4)
(17, 4)

C:\Users\pzin\Miniconda3\envs\data-curation\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Dataset_x', 'Notes_x'} in the result is deprecated and will raise a MergeError in a future version.
  after removing the cwd from sys.path.

In [6]:
df_original

,ID,A1,Notes_x,Dataset_x,A2,Notes_y,Dataset_y,A3,Notes_x,Dataset_x,A4,Notes_y,Dataset_y,A5,Notes,Dataset
0,20,1.0,not sure,A,5.0,not sure,A,8.0,not sure,B,4.0,not sure,B,8.0,not sure,B
1,5,2.0,looks good,A,5.0,looks good,A,10.0,looks good,B,NaN,NaN,NaN,NaN,NaN,NaN
2,6,2.0,looks good,A,3.0,looks good,A,10.0,looks good,B,10.0,looks good,B,7.0,looks good,B
3,19,2.0,looks good,A,10.0,looks good,A,2.0,looks good,B,2.0,looks good,B,10.0,looks good,B
4,1,3.0,looks good,A,1.0,looks good,A,8.0,looks good,A,5.0,looks good,A,10.0,looks good,A
5,21,3.0,not sure,A,8.0,not sure,A,NaN,NaN,NaN,NaN,NaN,NaN,9.0,not sure,B
6,17,5.0,looks good,A,3.0,looks good,A,NaN,NaN,NaN,NaN,NaN,NaN,5.0,looks good,A
7,18,5.0,looks good,B,2.0,looks good,B,NaN,NaN,NaN,NaN,NaN,NaN,3.0,looks good,B
8,8,6.0,looks good,A,9.0,looks good,A,3.0,looks good,A,10.0,looks good,A,10.0,looks good,A
9,9,6.0,looks good,A,10.0,looks good,A,1.0,looks good,A,6.0,looks good,A,NaN,NaN,NaN
10,10,6.0,looks good,B,7.0,looks good,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,7.0,not sure,A,3.0,not sure,A,7.0,not sure,A,3.0,not sure,A,3.0,not sure,A
12,3,7.0,double check,B,7.0,double check,B,8.0,double check,B,9.0,double check,B,3.0,double check,B
13,11,7.0,double check,A,2.0,double check,A,4.0,double check,A,8.0,double check,A,NaN,NaN,NaN
14,16,8.0,looks good,A,2.0,looks good,A,6.0,looks good,A,8.0,looks good,A,4.0,looks good,A
15,7,10.0,looks good,A,10.0,looks good,A,6.0,looks good,B,1.0,looks good,B,1.0,looks good,B
16,15,10.0,looks good,B,3.0,looks good,B,5.0,looks good,B,10.0,looks good,B,3.0,looks good,B
17,22,NaN,NaN,NaN,4.0,not sure,A,6.0,not sure,B,3.0,not sure,B,5.0,not sure,B
18,13,NaN,NaN,NaN,NaN,NaN,NaN,1.0,double check,B,5.0,double check,B,1.0,double check,B
19,14,NaN,NaN,NaN,NaN,NaN,NaN,1.0,looks good,B,2.0,looks good,B,3.0,looks good,B
20,12,NaN,NaN,NaN,NaN,NaN,NaN,6.0,double check,A,9.0,double check,A,6.0,double check,A
21,4,NaN,NaN,NaN,NaN,NaN,NaN,8.0,looks good,B,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
notes_cols = [j for j in df_original.columns if 'Notes' in j]
dataset_cols = [j for j in df_original.columns if 'Dataset' in j]
print(notes_cols, dataset_cols)

['Notes_x', 'Notes_y', 'Notes_x', 'Notes_y', 'Notes'] ['Dataset_x', 'Dataset_y', 'Dataset_x', 'Dataset_y', 'Dataset']

In [8]:
df_original['Notes'] = df_original[notes_cols].apply(
    lambda x: ', '.join(x.dropna().astype(str)),
    axis=1
)

df_original['Dataset'] = df_original[dataset_cols].apply(
    lambda x: ', '.join(x.dropna().astype(str)),
    axis=1
)

In [9]:
df_original['Notes']

0     not sure, not sure, not sure, not sure, not su...
1     looks good, looks good, looks good, looks good...
2     looks good, looks good, looks good, looks good...
3     looks good, looks good, looks good, looks good...
4     looks good, looks good, looks good, looks good...
5      not sure, not sure, not sure, not sure, not sure
6     looks good, looks good, looks good, looks good...
7     looks good, looks good, looks good, looks good...
8     looks good, looks good, looks good, looks good...
9     looks good, looks good, looks good, looks good...
10       looks good, looks good, looks good, looks good
11    not sure, not sure, not sure, not sure, not su...
12    double check, double check, double check, doub...
13    double check, double check, double check, doub...
14    looks good, looks good, looks good, looks good...
15    looks good, looks good, looks good, looks good...
16    looks good, looks good, looks good, looks good...
17    not sure, not sure, not sure, not sure, not su...
18    double check, double check, double check, doub...
19    looks good, looks good, looks good, looks good...
20    double check, double check, double check, doub...
21                               looks good, looks good
Name: Notes, dtype: object

In [10]:
df_original['Dataset']

0     A, B, A, B, A, B, A, B, B
1              A, B, A, A, B, A
2     A, B, A, B, A, B, A, B, B
3     A, B, A, B, A, B, A, B, B
4     A, A, A, A, A, A, A, A, A
5                 A, A, A, A, B
6                 A, A, A, A, A
7                 B, B, B, B, B
8     A, A, A, A, A, A, A, A, A
9        A, A, A, A, A, A, A, A
10                   B, B, B, B
11    A, A, A, A, A, A, A, A, A
12    B, B, B, B, B, B, B, B, B
13       A, A, A, A, A, A, A, A
14    A, A, A, A, A, A, A, A, A
15    A, B, A, B, A, B, A, B, B
16    B, B, B, B, B, B, B, B, B
17          B, A, B, B, A, B, B
18                B, B, B, B, B
19                B, B, B, B, B
20                A, A, A, A, A
21                         B, B
Name: Dataset, dtype: object

In [11]:
def remove_duplicate_strings(sample):
    list_strings = sample.split(', ')
    unique_strings = list(set(list_strings))
    unique_strings.sort()
    return ', '.join(unique_strings)

In [12]:
remove_duplicate_strings('A, B, A, B, A, B, A, B, B')

'A, B'

In [13]:
cols_to_address = ['Notes', 'Dataset']
for i in cols_to_address:
    df_original[i] = df_original[i].apply(remove_duplicate_strings)

In [14]:
df_original['Notes']

0         not sure
1       looks good
2       looks good
3       looks good
4       looks good
5         not sure
6       looks good
7       looks good
8       looks good
9       looks good
10      looks good
11        not sure
12    double check
13    double check
14      looks good
15      looks good
16      looks good
17        not sure
18    double check
19      looks good
20    double check
21      looks good
Name: Notes, dtype: object

In [15]:
df_original['Dataset']

0     A, B
1     A, B
2     A, B
3     A, B
4        A
5     A, B
6        A
7        B
8        A
9        A
10       B
11       A
12       B
13       A
14       A
15    A, B
16       B
17    A, B
18       B
19       B
20       A
21       B
Name: Dataset, dtype: object

In [16]:
cols_to_drop = [i for i in notes_cols + dataset_cols if '_' in i]
cols_to_drop

['Notes_x',
 'Notes_y',
 'Notes_x',
 'Notes_y',
 'Dataset_x',
 'Dataset_y',
 'Dataset_x',
 'Dataset_y']

In [17]:
df_original = df_original.drop(columns=cols_to_drop)

In [18]:
df_original

    ID    A1    A2    A3    A4    A5         Notes Dataset
0   20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
1    5   2.0   5.0  10.0   NaN   NaN    looks good    A, B
2    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
3   19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
4    1   3.0   1.0   8.0   5.0  10.0    looks good       A
5   21   3.0   8.0   NaN   NaN   9.0      not sure    A, B
6   17   5.0   3.0   NaN   NaN   5.0    looks good       A
7   18   5.0   2.0   NaN   NaN   3.0    looks good       B
8    8   6.0   9.0   3.0  10.0  10.0    looks good       A
9    9   6.0  10.0   1.0   6.0   NaN    looks good       A
10  10   6.0   7.0   NaN   NaN   NaN    looks good       B
11   2   7.0   3.0   7.0   3.0   3.0      not sure       A
12   3   7.0   7.0   8.0   9.0   3.0  double check       B
13  11   7.0   2.0   4.0   8.0   NaN  double check       A
14  16   8.0   2.0   6.0   8.0   4.0    looks good       A
15   7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
16  15  10.0   3.0   5.0  10.0   3.0    looks good       B
17  22   NaN   4.0   6.0   3.0   5.0      not sure    A, B
18  13   NaN   NaN   1.0   5.0   1.0  double check       B
19  14   NaN   NaN   1.0   2.0   3.0    looks good       B
20  12   NaN   NaN   6.0   9.0   6.0  double check       A
21   4   NaN   NaN   8.0   NaN   NaN    looks good       B

In [19]:
df_original.fillna('', inplace=True)

C:\Users\pzin\Miniconda3\envs\data-curation\lib\site-packages\pandas\core\frame.py:5177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [20]:
df_original

    ID    A1    A2    A3    A4    A5         Notes Dataset
0   20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
1    5   2.0   5.0  10.0                looks good    A, B
2    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
3   19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
4    1   3.0   1.0   8.0   5.0  10.0    looks good       A
5   21   3.0   8.0               9.0      not sure    A, B
6   17   5.0   3.0               5.0    looks good       A
7   18   5.0   2.0               3.0    looks good       B
8    8   6.0   9.0   3.0  10.0  10.0    looks good       A
9    9   6.0  10.0   1.0   6.0          looks good       A
10  10   6.0   7.0                      looks good       B
11   2   7.0   3.0   7.0   3.0   3.0      not sure       A
12   3   7.0   7.0   8.0   9.0   3.0  double check       B
13  11   7.0   2.0   4.0   8.0        double check       A
14  16   8.0   2.0   6.0   8.0   4.0    looks good       A
15   7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
16  15  10.0   3.0   5.0  10.0   3.0    looks good       B
17  22         4.0   6.0   3.0   5.0      not sure    A, B
18  13               1.0   5.0   1.0  double check       B
19  14               1.0   2.0   3.0    looks good       B
20  12               6.0   9.0   6.0  double check       A
21   4               8.0                looks good       B

In [21]:
df_original = df_original.sort_values(by='ID', ascending=True)

In [22]:
df_original

    ID    A1    A2    A3    A4    A5         Notes Dataset
4    1   3.0   1.0   8.0   5.0  10.0    looks good       A
11   2   7.0   3.0   7.0   3.0   3.0      not sure       A
12   3   7.0   7.0   8.0   9.0   3.0  double check       B
21   4               8.0                looks good       B
1    5   2.0   5.0  10.0                looks good    A, B
2    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
15   7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
8    8   6.0   9.0   3.0  10.0  10.0    looks good       A
9    9   6.0  10.0   1.0   6.0          looks good       A
10  10   6.0   7.0                      looks good       B
13  11   7.0   2.0   4.0   8.0        double check       A
20  12               6.0   9.0   6.0  double check       A
18  13               1.0   5.0   1.0  double check       B
19  14               1.0   2.0   3.0    looks good       B
16  15  10.0   3.0   5.0  10.0   3.0    looks good       B
14  16   8.0   2.0   6.0   8.0   4.0    looks good       A
6   17   5.0   3.0               5.0    looks good       A
7   18   5.0   2.0               3.0    looks good       B
3   19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
0   20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
5   21   3.0   8.0               9.0      not sure    A, B
17  22         4.0   6.0   3.0   5.0      not sure    A, B

In [23]:
df_original.reset_index(drop=True, inplace=True)
df_original

    ID    A1    A2    A3    A4    A5         Notes Dataset
0    1   3.0   1.0   8.0   5.0  10.0    looks good       A
1    2   7.0   3.0   7.0   3.0   3.0      not sure       A
2    3   7.0   7.0   8.0   9.0   3.0  double check       B
3    4               8.0                looks good       B
4    5   2.0   5.0  10.0                looks good    A, B
5    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
6    7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
7    8   6.0   9.0   3.0  10.0  10.0    looks good       A
8    9   6.0  10.0   1.0   6.0          looks good       A
9   10   6.0   7.0                      looks good       B
10  11   7.0   2.0   4.0   8.0        double check       A
11  12               6.0   9.0   6.0  double check       A
12  13               1.0   5.0   1.0  double check       B
13  14               1.0   2.0   3.0    looks good       B
14  15  10.0   3.0   5.0  10.0   3.0    looks good       B
15  16   8.0   2.0   6.0   8.0   4.0    looks good       A
16  17   5.0   3.0               5.0    looks good       A
17  18   5.0   2.0               3.0    looks good       B
18  19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
19  20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
20  21   3.0   8.0               9.0      not sure    A, B
21  22         4.0   6.0   3.0   5.0      not sure    A, B

In [24]:
df_expected = pd.read_csv(os.path.join(folder, 'expected_result.csv'))
df_expected.fillna('', inplace=True)
df_expected.sort_values(by='ID', ascending=True, inplace=True)
df_expected

    ID    A1    A2    A3    A4    A5         Notes Dataset
0    1   3.0   1.0   8.0   5.0  10.0    looks good       A
1    2   7.0   3.0   7.0   3.0   3.0      not sure       A
2    3   7.0   7.0   8.0   9.0   3.0  double check       B
3    4               8.0                looks good       B
4    5   2.0   5.0  10.0                looks good    A, B
5    6   2.0   3.0  10.0  10.0   7.0    looks good    A, B
6    7  10.0  10.0   6.0   1.0   1.0    looks good    A, B
7    8   6.0   9.0   3.0  10.0  10.0    looks good       A
8    9   6.0  10.0   1.0   6.0          looks good       A
9   10   6.0   7.0                      looks good       B
10  11   7.0   2.0   4.0   8.0        double check       A
11  12               6.0   9.0   6.0  double check       A
12  13               1.0   5.0   1.0  double check       B
13  14               1.0   2.0   3.0    looks good       B
14  15  10.0   3.0   5.0  10.0   3.0    looks good       B
15  16   8.0   2.0   6.0   8.0   4.0    looks good       A
16  17   5.0   3.0               5.0    looks good       A
17  18   5.0   2.0               3.0    looks good       B
18  19   2.0  10.0   2.0   2.0  10.0    looks good    A, B
19  20   1.0   5.0   8.0   4.0   8.0      not sure    A, B
20  21   3.0   8.0               9.0      not sure    A, B
21  22         4.0   6.0   3.0   5.0      not sure    A, B

In [25]:
df_original.equals(df_expected)

True

In [26]:
df_original.to_csv('resulting_merged_data.csv', index=False)